<form>
    <label for="project-title">Project title</label>
    <input id="project-title" type="text" />
    <label for="project-url">Project URL</label>
    <input id="project-url" type="text" />
    <label for="project-image">Project image path</label>
    <input id="project-image" type="text" />
    <label for="project-description">Project description</label>
    <textarea id="project-description"></textarea>
    <button id="submit-project" type="submit">Submit</button>
</form>


<script src="/js/project.js"></script>